@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600;800&family=Roboto+Mono:wght@200;400;600;800&family=Sofia+Sans:wght@300;400;800&display=swap");

:root {
  --h: 60;
  --s: 2%;
  --l: 10%;
  --h-accent: 240;

  --green-10: hsla(120, 100%, 60%, 0.1);
  --green-50: hsla(120, 60%, 35%, 1);
  --green-100: hsla(120, 100%, 10%, 1);
  --light: #fff;
  --dark: #000;

  --primary-light: #fafbf6;
  --primary-dark: hsla(var(--h), var(--s), var(--l), 1);
  --primary-100: var(--primary-dark);
  --primary-80: hsla(var(--h), var(--s), var(--l), 0.8);
  --primary-70: hsla(var(--h), var(--s), var(--l), 0.7);
  --primary-60: hsla(var(--h), var(--s), var(--l), 0.6);
  --primary-50: hsla(var(--h), var(--s), var(--l), 0.5);
  --primary-40: hsla(var(--h), var(--s), var(--l), 0.4);
  --primary-30: hsla(var(--h), var(--s), var(--l), 0.3);
  --primary-20: hsla(var(--h), var(--s), var(--l), 0.2);
  --primary-10: hsla(var(--h), var(--s), var(--l), 0.1);
  --primary-05: hsla(var(--h), var(--s), var(--l), 0.05);
  --primary-03: hsla(var(--h), var(--s), var(--l), 0.03);

  --accent: hsl(var(--h-accent), 100%, 50%);

  --focus: deeppink;

  --navbar-grad-01: var(--secondary-03);
  --navbar-grad-02: hsla(320, 100%, 90%, 0.5);
  --navbar-grad-03: var(--secondary-03);

  --secondary-03: hsla(var(--h-accent), 50%, 50%, 0.03);
  --secondary-05: hsla(var(--h-accent), 50%, 50%, 0.05);
  --secondary-10: hsla(var(--h-accent), 50%, 50%, 0);
  --secondary-20: hsla(var(--h-accent), 50%, 50%, 0.1);
  --secondary-25: hsla(var(--h-accent), 50%, 50%, 0.25);
  --secondary-30: hsla(var(--h-accent), 50%, 50%, 0.3);
  --secondary-40: hsla(var(--h-accent), 50%, 50%, 0.4);
  --secondary-50: hsla(var(--h-accent), 50%, 50%, 0.5);
  --secondary-60: hsla(var(--h-accent), 50%, 50%, 0.6);
  --secondary-70: hsla(var(--h-accent), 40%, 40%, 0.7);
  --secondary-80: hsla(var(--h-accent), 80%, 40%, 0.8);
  --secondary-90: hsla(var(--h-accent), 40%, 40%, 0.9);
  --secondary-100: hsla(var(--h-accent), 50%, 40%, 1);

  --surface-light: var(--primary-light);

  --text-light: #151514;
  --text-low-emphasis: var(--primary-50);

  --inputLabel: var(--secondary-100);
  --inputValue: var(--green-50);

  --button-primary: var(--text-light);
  --button-child: blue;

  --button-save-bg: var(--green-50);
  --button-save-label: var(--light);

  --buttonSecondary-bg: var(--light);
  --buttonSecondary-label: var(--secondary-80);
  --buttonSecondary-border: var(--secondary-80);
  --buttonSecondary-borderWidth: 4px;

  /*SkipTo Theme Variables*/

  --skipToIcon: "\f11c";
  --skipToMenuTextColor: var(--secondary-100);
  --skipToButtonBackgroundColor: var(--surface-light);
  --skipToButtonBorderColor: var(--secondary-40);
  --skipToMenuBackgroundColor: var(--surface-light);
  --skipToFocusBorderColor: var(--secondary-100);
  --skipToMenuitemFocusBackgroundColor: var(--secondary-100);
  --skipToMenuitemFocusTextColor: var(--primary-light);

  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: var(--accent) solid 8px;
  outline-offset: 4px;
  border-radius: 4px;
}

body {
  background: url(/public/images/body-bg-128.png) repeat-x top center;
  background-position-y: -32px;
}

header {
  height: 6rem;
}

/** SkipTo Styles **/

#skipToHere {
  display: inline;
  border: 1px solid var(--skipToButtonBorderColor);
  height: 100%;
  width: 40px;
}
.nolatin-skipTo button:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  content: var(--skipToIcon);
}

.nolatin-skipTo [role="menu"],
.nolatin-skipTo button {
  font-size: 100% !important;
  border: 1px solid var(--skipToButtonBorderColor) !important;
}

.nolatin-skipTo button:focus {
  outline: 8px solid var(--focus) !important;
}

.skip-to .skip-to-tooltip {
  color: #fff !important;
  background-color: var(--secondary-100) !important;
  border: 1px solid #fff !important;
  padding: 0 0.5rem !important;
  box-shadow: 2px 2px 8px var(--secondary-100) !important;
}

body {
  font-family: "Sofia Sans", serif;
  max-width: 1024px;
  margin: 0 auto;
  float: none;
  background-color: var(--surface-light);
  color: var(--secondary-100);
  line-height: 150%;
}

a:link,
a:visited {
  color: var(--accent);
}

a:hover,
a:active {
  color: var(--focus);
  background-color: var(--light);
  text-decoration: none;
}

#nolatin-logo:hover,
#nolatin-logo:active {
  background-color: transparent;
}

.main {
  display: block;
  padding: 0 1rem;
}

.back-row a {
  margin: auto 1rem;
  margin-left: 0;
}

.hero {
  display: block;
  padding: 2rem 2rem;
  background-color: var(--secondary-100);
  margin-top: 40px;
  border-radius: 16px;
}

footer .hero {
  margin: 1rem;
}

.hero h1,
.hero h2,
.hero p {
  color: var(--light);
  line-height: auto;
}

.hero h1,
.hero h2 {
  font-size: 2rem;
  color: hsla(146, 30%, 90%, 1);
  background: #d5ffbd;
  background: linear-gradient(
    to bottom right,
    hsl(320, 100%, 95%) 20%,
    hsl(320, 100%, 75%) 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
}
.hero p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(320, 100%, 100%);
}
.hero a:focus {
  outline-color: deeppink;
}

.hero [role="button"] {
  margin: auto;
  color: deeppink;
  background-color: var(--light);
}

.hero a {
  color: var(--light);
}

.hero a:hover {
  color: deeppink;
}

.bad-ipsum {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  text-decoration-color: deeppink;
  -webkit-text-fill-color: var(--light);
  color: var(--light);
  cursor: not-allowed;
}

p {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 150%;
  font-size: 1rem;
}

ul,
ol {
  display: block;
  margin: 0.5rem 0 1rem 2rem;
}

.post-content ul {
  display: inline-block;
  margin: 0 0 0 1rem;
}

h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  color: var(--secondary-80);
  line-height: normal;
}

h1,
h2,
h3 {
  font-weight: 800;
  color: var(--focus);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

img.landing {
  margin-top: 2rem;
  filter: grayscale(100%) contrast(110%) brightness(95%) sepia(0.8);
  border: 1rem solid var(--dark);
  border-width: 1rem 0;
  display: cover;
  width: calc(100% + 2rem);
  position: relative;
  left: -1rem;
  right: -2rem;
}

cite {
  font-style: normal;
}

/* How to page styles */

.credits .post-title {
  font-weight: 800;
  color: var(--secondary-90);
}
.post-container {
  display: block;
  margin: 1rem 0;
  padding: 0 1rem 1rem;
  overflow: auto;
  border: 4px solid var(--secondary-05);
  border-radius: 1rem;
}
.post-thumb {
  width: auto;
  max-width: 320px;
  padding: 0 1rem 0 0;
  height: auto;
  float: left;
}
/* How to styles end */

button {
  font-family: "Sofia Sans", serif;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
input {
  margin-bottom: 0.75rem;
}

select {
  /* styling */
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* new look */
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--secondary-80) 50%
    ),
    linear-gradient(135deg, var(--secondary-80) 50%, transparent 50%),
    linear-gradient(to right, var(--secondary-80), var(--secondary-80));
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.site-footer {
  position: relative;
  bottom: 0;
  display: block;
  height: auto;
  padding: 2rem;
  margin: 2rem 1rem 0;
  border-radius: 1rem;
  background-color: var(--secondary-20);
  text-align: center;
}

.site-footer h2 {
  color: var(--secondary-100);
}

.site-footer li {
  display: inline-block;
  margin: 0.5rem;
}
.site-footer a {
  padding: 4px;
  line-height: 2rem;
}

.post-footer {
  text-align: center;
  padding: 2rem;
}

.post-footer p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

main [role="button"] {
  margin: auto;
  margin-right: 0;
  background-color: deeppink;
  color: var(--light);
}

.card-toolbar button {
  background-color: var(--light) !important;
  font-weight: normal !important;
  margin-left: 0.5rem;
  border: 2px solid var(--secondary-30);
}

.toolbar {
  display: block;
  width: auto;
  margin: 2rem 0 0;
  background-color: var(--secondary-05);
  border-radius: 1rem;
  padding: 0.25rem;
}

.toolbar a {
  margin-top: 0;
}

.toolbar [role="button"] {
}

.instructions,
.alert-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 0;
  border-left: 0.25rem solid var(--secondary-20);
}

.instructions h2 {
  color: var(--secondary-100);
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
}

figcaption {
  font-family: "Roboto Slab", serif;
  font-size: 80%;
  color: var(--secondary-80);
  margin-top: 8px;
  margin-bottom: 3rem;
  letter-spacing: normal;
  line-height: 150%;
}

blockquote {
  display: block;
  position: relative;
  left: -1rem;
  width: 100%;
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  color: var(--secondary-100);
  line-height: 150%;
  margin: 0 16px;
  font-size: 1.5rem;
}

/* Modal */
.scrollMe {
  display: block;
  overflow-y: scroll !important;
  max-height: 80vh;
  padding: 16px;
}

.una {
  text-align: center;
  display: block;
  line-height: 2px;
  height: 2px;
  margin: 3rem 0;
  background: linear-gradient(
    to right,
    var(--secondary-10),
    var(--secondary-40),
    var(--secondary-10)
  );
  border: none;
}
.una:before,
.una:after {
  content: "\2021";
  font-size: 4rem;
  color: var(--secondary-100);
  position: absolute;
  transform: rotate(90deg);
}
.una:before {
  left: auto;
}
.una:after {
  right: auto;
}

/*
Prototyping Styles
*/

.proto-mgt {
  display: block;
  margin-top: 1rem;
}
.proto-mgt-header {
  margin-top: 2rem;
  padding-left: 1rem;
}

.proto-mgt h1,
.proto-mgt-desc {
  margin-top: 0;
  font-weight: bold;
  color: var(--focus);
}

.proto-mgt button,
.proto-mgt [role="button"] {
  background-color: var(--focus);
  color: var(--light);
  font-weight: bold;
}

.card-container h3 {
  color: var(--accent);
  margin: auto 0;
}
.card-container button {
  margin: auto 0.25rem;
}
.exportApp {
  padding: 0;
  margin: 0;
  background: var(--primary-05);
  padding-bottom: 80px;
}

.exportApp main {
  background: none;
}

.exportApp main,
.exportApp header {
  padding: 0;
}
.exportApp header {
  height: auto;
  padding-left: 1rem;
}

.exportApp footer,
.exportApp section,
.exportApp article,
.exportApp aside,
.exportApp nav,
.exportApp main header,
.exportApp form,
.exportApp [role="alert"],
.exportApp [role="banner"],
.exportApp [role="main"],
.exportApp [role="search"],
.exportApp [role="contentinfo"],
.exportApp [role="complementary"] {
  background-color: var(--light);
  border: 8px solid var(--primary-10);
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
  padding-bottom: 24px;
}

.exportApp header nav {
  background-color: black;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
.exportApp [role="alert"] {
  background-color: var(--dark);
  border: 8px solid #ddd;
}

.exportApp [role="alert"] h2,
.exportApp [role="alert"] h3,
.exportApp [role="alert"] h4,
.exportApp [role="alert"] h5,
.exportApp [role="alert"] h6,
.exportApp [role="alert"] p {
  color: var(--light);
}

.exportApp [role="alert"] h2::before,
.exportApp [role="alert"] h3::before,
.exportApp [role="alert"] h4::before,
.exportApp [role="alert"] h5::before,
.exportApp [role="alert"] h6::before {
  display: block;
  content: "Alert Message: \A";
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  line-height: 1rem;
  color: #aaa;
  margin: 0;
  white-space: pre-wrap;
}

.exportApp h1,
.exportApp h2,
.exportApp h3,
.exportApp h4,
.exportApp h5,
.exportApp h6 {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 200%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  margin: auto;
  color: var(--primary-80);
}

.exportApp h1 {
  font-size: 1.5rem;
  line-height: 100%;
  color: #fff;
}
.exportApp h2 {
  font-size: 1.5em;
}
.exportApp h3 {
  font-size: 1.17em;
}
.exportApp h4 {
  font-size: 1em;
}
.exportApp h5 {
  font-size: 0.83em;
}
.exportApp h6 {
  font-size: 0.67em;
}

.exportApp p,
.exportApp label {
  font-size: 1rem !important;
  line-height: normal;
  color: #000;
}

.exportApp header {
  background-color: var(--dark);
  height: 6rem;
}

.exportApp main header {
  background-color: var(--light);
  height: auto;
}

.exportApp label {
  font-weight: bold;
  margin-bottom: 0.75rem;
}
.exportApp input {
  border-color: var(--dark);
  margin-bottom: 1rem;
}

.exportApp button,
.exportApp [role="button"] {
  background-color: var(--dark);
  color: var(--light);
  border: none;
  margin: auto;
  margin-top: 2rem;
  width: auto;
  max-width: fit-content;
  padding: 1rem 4rem;
}

.exportApp *:focus {
  outline: var(--focus) solid 8px;
  outline-offset: 4px;
  border-radius: 4px;
}
