@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600;800&family=Sofia+Sans:wght@300;400;800&display=swap");

:root {
  --h: 60;
  --s: 2%;
  --l: 10%;
  --h-accent: 240;

  --primary-light: #fafbf6;
  --primary-dark: hsla(var(--h), var(--s), var(--l), 1);
  --primary-100: var(--primary-dark);
  --primary-80: hsla(var(--h), var(--s), var(--l), 0.8);
  --primary-70: hsla(var(--h), var(--s), var(--l), 0.7);
  --primary-60: hsla(var(--h), var(--s), var(--l), 0.6);
  --primary-50: hsla(var(--h), var(--s), var(--l), 0.5);
  --primary-40: hsla(var(--h), var(--s), var(--l), 0.4);
  --primary-30: hsla(var(--h), var(--s), var(--l), 0.3);
  --primary-20: hsla(var(--h), var(--s), var(--l), 0.2);
  --primary-10: hsla(var(--h), var(--s), var(--l), 0.1);
  --primary-05: hsla(var(--h), var(--s), var(--l), 0.05);

  --accent: hsl(var(--h-accent), 100%, 50%);
  --secondary-10: hsla(var(--h-accent), 50%, 50%, 0);
  --secondary-20: hsla(var(--h-accent), 50%, 50%, 0.1);
  --secondary-25: hsla(var(--h-accent), 50%, 50%, 0.25);
  --secondary-30: hsla(var(--h-accent), 50%, 50%, 0.3);
  --secondary-40: hsla(var(--h-accent), 50%, 50%, 0.4);
  --secondary-50: hsla(var(--h-accent), 50%, 50%, 0.5);
  --secondary-60: hsla(var(--h-accent), 50%, 50%, 0.6);
  --secondary-70: hsla(var(--h-accent), 40%, 40%, 0.7);
  --secondary-80: hsla(var(--h-accent), 80%, 40%, 0.8);
  --secondary-90: hsla(var(--h-accent), 40%, 40%, 0.9);
  --secondary-100: hsla(var(--h-accent), 50%, 50%, 1);

  --surface-light: var(--primary-light);

  --text-light: #151514;
  --text-low-emphasis: var(--primary-80);

  --button-primary: var(--text-light);
  --button-child: blue;
}

body {
  font-family: "Sofia Sans", serif;
  max-width: 1024px;
  margin: 0 auto;
  float: none;
  font-size: larger;
  background-color: var(--surface-light);
  color: var(--text-light);
  line-height: auto;
  letter-spacing: -0.025rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem !important;
  line-height: 2.25rem;
  color: var(--primary-90);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  color: var(--secondary-80);
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 2rem 0;
  margin-bottom: 2rem;
  color: var(--secondary-100);
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0;
}

img {
  margin-top: 3rem;
  filter: grayscale(100%) contrast(110%) brightness(95%) sepia(0.8);
  border: 1rem solid var(--secondary-25);
}
figcaption {
  font-family: "Roboto Slab", serif;
  color: var(--secondary-80);
  margin-top: 8px;
  margin-bottom: 3rem;
  font-size: 1rem;
  letter-spacing: normal;
  line-height: 1.6rem;
}

blockquote {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-size: 1.75rem;
  color: var(--secondary-100);
  line-height: 2.75rem;
}

*:focus {
  outline: var(--accent) solid 8px;
  outline-offset: 4px;
  border-radius: 4px;
}

.una {
  text-align: center;
  display: block;
  line-height: 2px;
  height: 2px;
  margin: 2rem 0;
  margin-top: 4rem;
  background: linear-gradient(
    to right,
    var(--secondary-10),
    var(--secondary-40),
    var(--secondary-10)
  );
  border: none;
}
.una:before,
.una:after {
  content: "\2021";
  font-size: 4rem;
  color: var(--secondary-100);
  position: absolute;
  transform: rotate(90deg);
}
.una:before {
  left: auto;
}
.una:after {
  right: auto;
}

.exportApp {
  background-color: #fff;
}

.exportApp h1,
.exportApp h2,
.exportApp h3,
.exportApp h4,
.exportApp h5,
.exportApp h6 {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  line-height: 200%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  margin: auto;
  color: var(--primary-80);
}

.exportApp h1 {
  font-size: 2em;
  line-height: 100%;
  color: #fff;
}
.exportApp h2 {
  font-size: 1.5em;
}
.exportApp h3 {
  font-size: 1.17em;
}
.exportApp h4 {
  font-size: 1em;
}
.exportApp h5 {
  font-size: 0.83em;
}
.exportApp h6 {
  font-size: 0.67em;
}

.exportApp p {
  font-size: 1rem !important;
  line-height: normal;
}
